<app-header></app-header>
<section class="main" [ngStyle]="bgPosition">
  <div class="container">
    <div class="main-info">
      <h1 class="main-title">Premium Car Rental</h1>
      <div class="main-text">Our club has a solid collection of sports cars - from enough
      common production cars to a real racing exclusive. Take advantage of this unique opportunity
      Get behind the wheel of a real legend and find out what she can do off the race track!</div>
      <div class="main-actions">
        <button class="button" id="main-action" (click)="scroll(cars)">View cars</button>
      </div>
    </div>
  </div>
</section>
<section class="car" id="cars" #cars>
  <div class="container">
    <h2 class="subtitle">Our Fleet</h2>
    <div class="car-toggle">
      <div [ngClass]="{ active: category === 'sport' }" (click)="toggleCategory('sport')">Sport</div>
      <div [ngClass]="{ active: category === 'luxury' }" (click)="toggleCategory('luxury')">Luxury</div>
    </div>
    <div class="car-items">
      <div class="car-item" *ngFor="let car of carsData">
        <div class="car-item-image">
          <img src="{{ car.image }}" alt="car">
        </div>
        <h3 class="car-item-title">{{ car.name }}</h3>
        <div class="car-item-info">
          <div class="car-item-feature">
            <img src="assets/img/icons/gear.svg" alt="gear">
            <div class="car-item-text"><strong>Drive unit</strong><br />{{ car.gear }}</div>
          </div>
          <div class="car-item-feature">
            <img src="assets/img/icons/engine.svg" alt="engine">
            <div class="car-item-text"><strong>Engine</strong><br />{{ car.engine }}  л. с.</div>
          </div>
          <div class="car-item-feature">
            <img src="assets/img/icons/places.svg" alt="places">
            <div class="car-item-text"><strong>Qty. places</strong><br />{{ car.places }}</div>
          </div>
        </div>
        <div class="car-item-actions">
          <button class="button" (click)="scroll(price, car.name)">Book now</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="price" id="price" #price>
  <div class="container">
    <h2 class="subtitle">Check Price and Booking</h2>
    <div class="price-text">Fill in the data and we will call you back to clarify all the details of the booking</div>
    <form *ngIf="priceForm" [formGroup]="priceForm" class="price-form" (ngSubmit)="submit()">
      <input type="text" class="price-input" id="name" placeholder="Your name" formControlName="name">
      <input type="text" class="price-input" id="phone" placeholder="Your phone" formControlName="phone">
      <input type="text" class="price-input" id="car" placeholder="The vehicle you are interested in" formControlName="car">
      <button class="button" type="submit" [disabled]="priceForm.invalid">Ask for a price</button>
    </form>
    <img class="price-image" src="assets/img/rolls.png" alt="rolls" [ngStyle]="translate">
  </div>
</section>
<app-footer></app-footer>
